/* here you can put your own css to customize and override the theme */


.page-header h1 {
	margin-top:0px;
color:#ffffff;
font-size:30px;
padding-top:5px;
font-weight:700;
}

.page-header h1 span {
color:#ffffff;

font-weight:300;
font-size:13px;

}

.page-header form {
	text-aligh:right;
}

.topbar-actions form {
	float: left;
} 

.page-header .navbar .search .form-control {
	border-radius: 5px;
	margin-right:5px;
	width:150px;
	
}
.page-header .navbar .page-logo {
	margin-right:15px;
}

.page-header .navbar .topbar-actions .btn-group-img .btn>span {
	text-transform:none;
}
