<div ng-controller="feeCollectCtrl">
<div class="container">
  <h2>Fee Collection</h2>
  Class <input type="text" ng-model="fcSchoolClassSection" ng-click="resetDataFeeCollect1()" id="fcSchoolClassSection" class="form-control"  placeholder="Start Typing..." style="width: 300px;display: inline-block;"/>
  Student Name <input type="text" ng-model="fcStudentName" ng-click="resetDataFeeCollect2()" id="fcStudentName" class="form-control"  placeholder="Start Typing..." style="width: 300px;display: inline-block;"/>
  <br/>
  <span id="studentsData"></span>
  <span id="studentFeeDefinitionData"></span>
  <span id="studentFeeReceiptData"></span>
</div>
</div>

